@import "tailwindcss";

@theme inline {
  --color-Primary: #f1edff;
  --font-arilaco: var(--font-arilaco);
  --font-archetica: var(--font-archetica);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1edff;
  color: #08070e;
  font-family: var(--font-archetica);
}

.animate-shake {
  animation: shake 1s 1;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}